body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

button {
    background-color: #3882F6;
    color: yellow;
    height: 36px;
    width: 100px;
    border-radius: 12px;
    padding: 10px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box3 {
    display: flex;
    padding: 50px 100px;
}

.header {
    padding: 5px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    
}

.right-links {
    margin-left: auto;
}


.box1 {
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;

}

.box2 {
    background-color: white;
    flex-direction: column;
    text-align: center;
}

.box2_content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.box3{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.author {
    margin-left: auto;
}

.box4 {
    background-color: white;
    padding: 50px 100px;
}

a {
    color: white;
    margin-left: 10px;
    
}

.box4background{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.box4background button {
    border-color: white;
    color: white;
}

.footer {
    padding: 15px 30px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image {
    border-radius: 20px;
    border-style: solid;
    border-color: #3882F6;
    height: 100px;
    width: 100px;
}

.image-placeholder {
    height: 216px;
    width: 396px;
    border-style: solid;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}