body {
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

a {
    color: white;
}

ul {
    list-style-type: none;
}


.body {
    background-color: white;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.links {
    display: flex;
    gap: 15px;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.hero-left {
    min-width: 5em;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.hero-left p {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;  
}

.hero .hero-left button {
    background-color: #3882F6;
    color: white;
    border-color: white;
    width:150px;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: large;

}


img {
    width: 5em;
    height: auto;
}

.information {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 32px;
    font-weight: bold;
}

.boxes {
    color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.box {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 1em;

}

.quote {
    flex:1;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 0 25%;
}

.author {
    font-weight: bold;
    margin-left: 50%;
    font-size: 25px;
}

.sign-up {
    padding: 20px 15%;
}

.sign-up .container {
    flex: 1;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 1em;

}

.sign-up .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-color: white;
    width: 150px;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: large;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
